/* Site Title */
#site-title {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
}
#site-title a {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
#mobile-menu {
	position: fixed;
	top: 65px;
	z-index: 0;
}
#mobile-menu .site-menu {
	width: 200px;
	float: right;
	position: relative;
	top: -35px;
	left: 0px;
	z-index: 1;
}
#mobile-menu .nav-social-link-item {
	padding:10px;
	float:right;
}
#mobile-menu .nav-link-item {
	padding-top: 10px;
	padding-bottom:10px;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: right;
}
#mobile-menu .nav-link-item a {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding:10px;
}
#mobile-menu .social {
	text-align: right;
}
#mobile-menu .social a {
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.5 ease;
	-moz-transition: all 0.5 ease;
	-ms-transition: all 0.5 ease;
	-o-transition: all 0.5 ease;
	-webkit-transition: all 0.5 ease;
}
/* Desktop Menu */
#desktop-menu nav div ul li {
	display: inline;
	padding: 5px;
}
#desktop-menu nav div {
	margin: 20px;
	text-align: center;
}
#desktop-menu ,
 #mobile-menu {
	display: none;
}
