html {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
input, button {
  font-size: 0.707em;
}
section {
  font-size: 1em;
  text-align: center;
}
section input {
  padding: 5px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
section button {
  padding: 10px;
  margin: 30px;
}
footer {
  text-align: center;
  float: left;
  width: 100%;
  padding: 40px 0px;
}
h1 {
  font-size: 3.998em;
}
h2 {
  font-size: 2.827em;
}
h3 {
  font-size: 1.999em;
  margin-top: 20px;
}
h4 {
  font-size: 1.414em;
}
h5 {
  font-size: 1em;
}
header {
  width: 100%;
  text-align: center;
}
