.center-column {
  width: 50%;
  float: left;
}
.left-column {
  width: 25%;
  float: left;
}
.right-column {
  width: 25%;
  float: right;
}
.creation-form {
  padding: 20px;
}
.jedi-info {
  background-color: white;
  padding: 10px;
}
.jedi-display {
  margin: 20px;
}
