* {
  overflow-y: hidden !important;
  margin: 0px !important;
  padding: 0px !important;
}
body, canvas, html {
  width: 100% !important;
  height: 100% !important;
}
.container {
  max-width: 100% !important;
  max-height: 100% !important;
}
