//Base
body {
  font-family: arial, sans-serif !important;
}

//Layout
.game-over-window {
  color: white !important;
  background-color: black !important;
}

//Module
#ui {
  color:#fff !important;
}
