<script type="text/x-handlebars-template" id="author-statistic-template">
  <div class="author-statistic">
    <div><span>Author: </span><span>{{author}}</span></div>
    <div><span>Total articles contributed: </span><span>{{totalAuthorArticles}}</span></div>
    <div><span>Total words written: </span><span>{{totalAuthorWords}}</span></div>
    <div><span>Average words per article: </span><span>{{averageWordsPerArticle}}</span></div>
    <div><span>Percentage of total articles written: </span><span>{{percentageOfTotalArticlesWritten}}</span></div>
    <div><span>Percentage of total words written: </span><span>{{percentageOfTotalWordsWritten}}</span></div>
  </div>
</script>
