#general-statistics {
  margin-bottom:20px;
  cursor:default;
}
#general-statistics h4 {
  margin-bottom:20px;
  margin-left:-10px;
}
#general-statistics div {
  margin-bottom:10px;
  margin-left:10px;
}
#author-statistics {
  margin-bottom:10px;
  margin-left:10px;
}
#author-statistics h4 {
  margin-bottom:20px;
  margin-left:-10px;
}
#author-statistics div {
  margin-bottom:10px;
  margin-left:0px;
}
