<section class="hero is-primary" ng-controller="authController" ng-init="isMain()">
	<section class="hero-header">
		<header class="header">
			<!-- Main container -->
			<nav class="container">
				<!-- Left side -->
			  <section class="header-left">
			    <section class="header-item" href="#">
			    	<img src="/images/tyhead.png" alt="">
            <span> </span>
			      <p class="control is-grouped">Spacecataz</p>
			    </section>
			  </section>

			  <!-- Right side -->
			  <section class="header-right" ng-init="updateUsername()">
					<p class="header-item" data-ng-if="username">
						Hello {{username}}
					</p>
					<p class="header-item">
						<a href ng-if="username" data-ng-click="logout()">logout</a>
					</p>
					<p class="header-item">
						<a href ng-if="!username" ng-href="#/">Sign in</a>
					</p>
			    <p class="header-item"><a ng-href="#/home">Home</a></p>
			    <p class="header-item"><a ng-href="#/about">About</a></p>
			    <p class="header-item"><a ng-href="#/game" class="button is-info">Play Game</a></p>
			  </section>
			</nav>
		</header>
		<section class="hero-content">
			<section class="container">
				<h1 class="title is-1">404</h1>
				<p class="subtitle">Sorry, page not found</p>
			</section>
		</section>
	</section>
</section>

<footer class="footer">
  <section class="container">
    <section class="is-text-centered">
      <p>
        End of Fates
      </p>
    </section>
  </section>
</footer>
